<html lang="vi-VN" data-nhanh.vn-template="T0307">

<head>
    <meta name="robots" content="noindex">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    , maximum-scale=1.0-->
    <title>Liên hệ</title>
    <meta name="description" content="Liên hệ">
    <meta name="keywords" content="Liên hệ">
    <meta property="og:title" content="Liên hệ">
    <meta property="og:type" content="article">
    <meta name="google-site-verification" content="">
    <link href="http://t0307.store.nhanh.vn/lien-he" rel="canonical">
    <link href="https://pos.nvncdn.com/16a837-71503/store/20200325_ZRJHulhsIfpehzWImFaQoMVt.png" rel="icon"
        type="image/vnd.microsoft.icon">
    <link rel="preload" href="https://web.nvnstatic.net/tp/T0307/font/Quicksand-VariableFont_wght.ttf" as="font"
        type="font/ttf" crossorigin="">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fontAwesome/font-awesome-4.7.0.min.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fancybox-4.0.31/fancybox_4.0.31.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/font.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/js/mmenu/css/jquery.mmenu.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/jqueryUI/jqui.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/owlCarousel/owl.carousel.min.2.3.4.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/appLib.css" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/style.css?v=69" type="text/css">
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.min.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.cookie.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/boostrap.popper.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery-ui-1.10.3.custom.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/bootstrap.4.3.1.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery.number.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/fancybox-4.0.31/fancybox_4.0.31.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/owlCarousel/owl.carousel.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/mmenu/js/jquery.mmenu.min.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/lib.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/main.js?v=54"></script>
    <style type="text/css"></style>
    <style type="text/css">
        img {
            max-width: 100%;
        }

        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=241216_094852" defer=""></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async=""></script>
    <style>
        figure.image {
            clear: both;
            display: table;
            margin: .9em auto;
            min-width: 50px;
            text-align: center;
            width: auto !important;
        }

        figure.image img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            min-width: 100%;
        }

        figure.image>figcaption {
            background-color: #f7f7f7;
            caption-side: bottom;
            color: #333;
            display: block;
            font-size: .75em;
            outline-offset: -1px;
            padding: .6em;
            word-break: break-word;
        }

        figure.image img,
        img.image_resized {
            height: auto !important;
            aspect-ratio: auto !important;
        }
    </style>
    <script src="https://web.nvnstatic.net/js/translate/vi-vn.js" defer=""></script>
</head>

<body id="lama-theme" class="tp_background tp_text_color" style="">
    <div id="menu" class="mm-menu mm-offcanvas">
        <div class="mm-panel mm-hasnavbar mm-opened mm-current" id="mm-1">
            <div class="mm-navbar"><a class="mm-title">Menu</a></div>
            <ul class="mm-listview mm-first mm-last">
                <li class="selected text-center"><a href="/"><img
                            src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png"
                            alt="Logo"></a></li>
                <li class="mobile_child">
                    <a href="/" title="Trang chủ" class=" current">
                        Trang chủ
                    </a>
                </li>
                <li class="mobile_child">
                    <a class="mm-next" href="#mm-2" data-target="#mm-2"></a><a href="/san-pham-pc564206.html"
                        title="Sản phẩm" class=" current">
                        Sản phẩm
                    </a>

                </li>
                <li class="mobile_child">
                    <a href="/tin-tuc-nc103891.html" title="Tin tức" class=" current">
                        Tin tức
                    </a>
                </li>
                <li class="mobile_child">
                    <a asp-controller="Home" asp-action="Lienhe" title="Liên hệ" class=" current">
                        Liên hệ
                    </a>
                </li>
                <li class="mobile_child">
                    <a href="http://t0338.store.nhanh.vn/may-tinh-xach-tay-pc567702.html" title="Sale Up To 50%"
                        class=" current">
                        Sale Up To 50%
                    </a>
                </li>

            </ul>
        </div>
        <div class="mm-panel mm-hasnavbar mm-hidden" id="mm-2">
            <div class="mm-navbar"><a class="mm-btn mm-prev" href="#mm-1" data-target="#mm-1"></a><a class="mm-title"
                    href="#mm-1">
                    Sản phẩm
                </a></div>
            <ul class="mobile_lvlup lv2 mm-listview mm-first mm-last" role="menu">
                <li><a href="/rau-cu-pc564207.html" class="current" title="Rau Củ">Rau Củ
                    </a>

                </li>
                <li><a href="/hoa-qua-tuoi-pc564208.html" class="current" title="Hoa quả tươi">Hoa quả tươi
                    </a>

                </li>
                <li><a href="/thuc-pham-tuoi-song-pc564209.html" class="current" title="Thực phẩm tươi sống">Thực phẩm
                        tươi sống
                    </a>

                </li>
                <li><a href="/ngu-coc-pc564210.html" class="current" title="Ngũ cốc">Ngũ cốc
                    </a>

                </li>
            </ul>
        </div>
    </div>
    <input type="hidden" id="checkStoreId" value="71503">

    <div id="mm-0" class="mm-page mm-slideout">
        <div id="content" class=""><!--<div id="page">-->

            <header class="tp_header">
                <div class="header-content">

                    <div class="d-flex d-lg-none flex-wrap header_mobile">
                        <div class="click_menu col-3">
                            <a href="#menu"><span><i class="fa fa-bars" aria-hidden="true"></i></span></a>
                        </div>
                        <div class="col-9 right_">
                            <div class="logo_small col-6">
                                <a href="/">
                                    <img src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png"
                                        alt="Logo">
                                </a>
                            </div>
                            <div class="item_mobile col-6">
                                <div class="lare-icon">
                                    <div class="cart-bag">
                                        <div style="position: relative;" onclick="window.location.href='/cart';">
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                            <span class="cout_cart">0</span>
                                        </div>
                                    </div>
                                    <div class="user">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                        <div class="groupc">
                                            <a class="button_gradient" href="/user/signin" style="">Đăng nhập</a>
                                            <a class="dk" href="/user/signup" style="">Đăng ký</a>
                                        </div>
                                    </div>
                                    <div class="seach"><i class="fa fa-search" aria-hidden="true"></i>
                                        <div class="searchmini">
                                            <form action="/search" method="get" class="form-group search-bar"
                                                role="search">
                                                <input type="text" name="q" placeholder="Tìm kiếm..."
                                                    class="button_gradient form-control auto-search ">
                                                <button type="submit" class=" btn icon-fallback-text">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container top-header d-none d-lg-flex flex-wrap">
                        <div class="col-md-2 lare-logo">
                            <a href="/" class="d-inline-block">
                                <img src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png"
                                    alt="Logo">
                            </a>
                        </div>
                        <div class="col-md-8 menu-item">
                            <ul class="nav nav-pills header_menu tp_menu">
                                <li class="tp_menu_item" data-link="/"><a class="tp_menu_item" href="/"
                                        title="Trang chủ">Trang chủ </a></li>
                                <li class="tp_menu_item" data-link="/san-pham-pc564206.html">
                                    <a class="tp_menu_item" href="/san-pham-pc564206.html" title="Sản phẩm">Sản phẩm
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="list_sp tp_menu">
                                        <li class="dropdown-submenu clearfix tp_menu_item">
                                            <a class="lv2 tp_menu_item" href="/rau-cu-pc564207.html">Rau Củ

                                            </a>
                                        </li>
                                        <li class="dropdown-submenu clearfix tp_menu_item">
                                            <a class="lv2 tp_menu_item" href="/hoa-qua-tuoi-pc564208.html">Hoa quả tươi

                                            </a>
                                        </li>
                                        <li class="dropdown-submenu clearfix tp_menu_item">
                                            <a class="lv2 tp_menu_item" href="/thuc-pham-tuoi-song-pc564209.html">Thực
                                                phẩm tươi sống

                                            </a>
                                        </li>
                                        <li class="dropdown-submenu clearfix tp_menu_item">
                                            <a class="lv2 tp_menu_item" href="/ngu-coc-pc564210.html">Ngũ cốc

                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tp_menu_item" asp-controller="Home" asp-action="Tintuc"><a
                                        class="tp_menu_item" asp-controller="Home" asp-action="Tintuc"
                                        title="Tin tức">Tin tức </a></li>
                                <li class="tp_menu_item" asp-controller="Home" asp-action="Lienhe"><a
                                        class="tp_menu_item" asp-controller="Home" asp-action="Lienhe"
                                        title="Liên hệ">Liên hệ </a></li>
                                <li class="tp_menu_item"
                                    data-link="http://t0338.store.nhanh.vn/may-tinh-xach-tay-pc567702.html"><a
                                        class="tp_menu_item"
                                        href="http://t0338.store.nhanh.vn/may-tinh-xach-tay-pc567702.html"
                                        title="Sale Up To 50%">Sale Up To 50% </a></li>
                            </ul>
                        </div>
                        <div class="lare-icon col-md-2">

                            <div class="cart-bag">
                                <div style="position: relative;" onclick="window.location.href='/cart';">
                                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                    <span class="cout_cart">0</span>
                                </div>
                                <div class="top-cart-content">
                                    <div class="header-minicart">
                                        <p class="text-center">Giỏ hàng không có sản phẩm !</p>
                                    </div>

                                </div>
                            </div>
                            <div class="user">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <div class="groupc">
                                    <a class="button_gradient" href="/user/signin" style="">Đăng nhập</a>
                                    <a class="dk" href="/user/signup" style="">Đăng ký</a>
                                </div>
                            </div>
                            <div class="seach"><i class="fa fa-search iconSearchDesktop" aria-hidden="true"></i>
                                <div class="searchmini">
                                    <form action="/search" method="get" class="form-group search-bar" role="search">
                                        <input type="text" name="q" placeholder="Tìm kiếm..."
                                            class="button_gradient form-control auto-search ">
                                        <button type="submit" class=" btn icon-fallback-text">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="bread-crumb text-center bread-crumb_background"
                style=" background-image: url('https://pos.nvncdn.com/16a837-71503/bn/20220325_5UxI8S76E0NIJxh0znPFxEOw.png');">
                <h3>Liên hệ</h3>
                <ul class="breadcrumb breadcrumb-arrow">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="chir_main">
                <section id="chir_collection">
                    <div class="container">
                        <div class="main">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="full_width_map">
                                        <iframe
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.419507161933!2d105.79140737431688!3d21.01589408063026!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab59d5eb8b3d%3A0x19df65e6e83867b7!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBQaMawxqFuZyDEkMO0bmc!5e0!3m2!1svi!2s!4v1735616761937!5m2!1svi!2s"
                                            width="100%" height="400" frameborder="0" style="border:0"
                                            allowfullscreen=""></iframe>
                                    </div>
                                    <div class="row-boxed row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <h4 class="widget-title">
                                                Thông tin liên hệ
                                            </h4>
                                            <div class="text_column">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <h4 class="widget-title">
                                                Liên hệ với chúng tôi
                                            </h4>
                                            <div class="wpcf7">
                                                <form id="fContact" action="" method="post">
                                                    <label>
                                                        <span>Họ và tên</span>
                                                        <input type="text" name="name" value="">
                                                    </label>
                                                    <label>
                                                        <span>Email</span>
                                                        <input type="text" name="email" value="">
                                                    </label>
                                                    <label>
                                                        <span>Điện thoại</span>
                                                        <input type="text" name="mobile" value="">
                                                    </label>
                                                    <label>
                                                        <span>Địa chỉ</span>
                                                        <input type="text" name="address" value="">
                                                    </label>
                                                    <label>
                                                        <span>Nội dung liên hệ</span>
                                                        <textarea name="content"></textarea>
                                                    </label>
                                                    <label style="text-align: right">
                                                        <button type="submit">Gửi</button>
                                                    </label>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <style>
                .widget-title {
                    display: block;
                    padding: 10px 0;
                    text-transform: uppercase;
                    font-size: 18px;
                }

                #fContact label {
                    display: block;
                }

                form#fContact {
                    /*width: 600px; */
                    margin: 20px auto;
                }

                form#fContact label {
                    display: block;
                    margin: 12px 0;
                }

                form#fContact label span {
                    float: left;
                    color: #54595a;
                    width: 30%;
                }

                form#fContact label input {
                    display: inline-block;
                    width: 70%;
                    height: 33px;
                    border: 1px solid #ccc;
                    padding: 0 5px;
                    box-sizing: border-box;
                }

                form#fContact label textarea {
                    width: 70%;
                    display: inline-block;
                    height: 150px;
                    resize: none;
                    box-sizing: border-box;
                    border: 1px solid #ccc;
                    padding: 5px;
                }

                form#fContact button[type="submit"] {
                    display: inline-block;
                    padding: 5px 30px;
                    border: none;
                    background-color: #54595a;
                    color: #fff;
                    /*margin-right: 24px;*/
                }

                form#fContact #showErrorContact {
                    border: 1px dashed #F04E23;
                    margin-bottom: 20px;
                    color: #F04E23;
                    padding: 2px 5px;
                    text-align: center;
                }

                form#fContact #showSuccessContact {
                    border: 1px dashed #008000;
                    margin-bottom: 20px;
                    color: #008000;
                    padding: 2px 5px;
                    text-align: center;
                }
            </style>
            <footer class="tp_footer">
                <div class="new-letter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="letter-left heading">
                                    <h3>Đăng kí nhận tin khuyến mãi</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="contactFormEmail" type="email" name="contact[email]"
                                        class="form-control em" placeholder="Nhập email của bạn" required="">
                                    <div class="input-group-append">
                                        <button class="btn_dk tp_button">Đăng Ký</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 widget_first_childs">
                                <div class="logo_footer">
                                    <a href="/">
                                        <img width="165"
                                            src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png"
                                            alt="Logo">
                                    </a>
                                </div>
                                <div class="contact_footer">
                                    <ul>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>30 Phạm Văn Đồng Cầu Giấy, Hà Nội</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                            <span>1900.2812</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <span>abctheme205@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8 clearfix widget-ft">
                                <div class="col-md-4 footer-right_first float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Cẩm nang sử dụng</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample1" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Chính sách</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample1">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample2" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Dịch vụ</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample2">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center ft2">
                    <span data-runtime="Memory: 4.24 mb - Time: 0.21 s" id="runtime" style="display: block"> Thiết kế
                        web bởi <img src="https://web.nvnstatic.net/images/favicon.ico?v=3"
                            alt="Thiết kế web bởi NHANH.VN">
                        <a style="margin-top:5px;display:inline-block;font-size: 13px;" class="logo"
                            href="https://nhanh.vn" target="_blank"><b> Nhanh.vn </b></a>
                    </span>
                </div>

            </footer>


            <a class="email-icon" href="mailto:abctheme205@gmail.com">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="javascript:" id="back_to_Top"><i class="fas fa-arrow-up"></i></a>


        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickview" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickbuy" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div><input type="hidden" class="fanpageId" value=""><input type="hidden" id="bussinessId" value="71503"><input
        type="hidden"
        value="bfCypEgZjrVX8F6AleoMwf8arTLJhEJSLcBMwYJOLGqbSnrl6e50V54vQuDBttPa9NOPaPUg14RYfE1HTsFbq8ed9REa1hDft84kJlrBaEonqWDSGj250iGRcZFcRnNbPhQ5ydDBfCS7FElsbknmpffG7vIs629mqgxaBMC"
        id="uctk" name="uctk"><input type="hidden" id="clienIp" value="118.71.204.98"><!-- Modal Quickview-->


    <!-- Modal Quickbuy-->



    <div id="mm-blocker" class="mm-slideout"></div>
</body><chatgpt-sidebar data-gpts-theme="light"></chatgpt-sidebar><!--Begining of TestComplete File-->
<script src="chrome-extension://94d4a8dd-9161-475d-9cf6-64c4072447e5/common/iocm.js"
    istestcompletehiddennode="1"></script><!--Ending of TestComplete File--><chatgpt-sidebar-popups
    data-gpts-theme="light"></chatgpt-sidebar-popups>

</html>