<html lang="vi-VN" data-nhanh.vn-template="T0307">

<head>
    <link rel="dns-prefetch">
    <link rel="preconnect" href="https://web.nvnstatic.net/" crossorigin="">
    <link rel="preconnect" href="https://pos.nvncdn.com/" crossorigin="">
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin="">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <meta name="robots" content="noindex">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    , maximum-scale=1.0-->
    <title>Ngũ cốc</title>
    <meta name="keywords" content="Ngũ cốc">
    <meta name="description" content="Ngũ cốc">
    <meta property="og:title" content="Ngũ cốc">
    <meta property="og:type" content="product">
    <meta property="og:image" content="http:">
    <meta name="google-site-verification" content="">
    <link href="http://t0307.store.nhanh.vn/ngu-coc-pc564210.html" rel="canonical">
    <link href="https://pos.nvncdn.com/16a837-71503/store/20200325_ZRJHulhsIfpehzWImFaQoMVt.png" rel="icon"
        type="image/vnd.microsoft.icon">
    <link rel="preload" href="https://web.nvnstatic.net/tp/T0307/font/Quicksand-VariableFont_wght.ttf" as="font"
        type="font/ttf" crossorigin="">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fontAwesome/font-awesome-4.7.0.min.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fancybox-4.0.31/fancybox_4.0.31.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/font.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/js/mmenu/css/jquery.mmenu.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/jqueryUI/jqui.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/owlCarousel/owl.carousel.min.2.3.4.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/appLib.css" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/style.css?v=69" type="text/css">
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.min.js?v=30"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.cookie.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/boostrap.popper.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery-ui-1.10.3.custom.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/bootstrap.4.3.1.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery.number.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/fancybox-4.0.31/fancybox_4.0.31.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/owlCarousel/owl.carousel.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/mmenu/js/jquery.mmenu.min.js?v=30"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/lib.js?v=30"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/main.js?v=54"></script>
    <style type="text/css"></style>
    <style type="text/css">
        img {
            max-width: 100%;
        }

        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=241216_094852" defer=""></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async=""></script>
    <style>
        figure.image {
            clear: both;
            display: table;
            margin: .9em auto;
            min-width: 50px;
            text-align: center;
            width: auto !important;
        }

        figure.image img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            min-width: 100%;
        }

        figure.image>figcaption {
            background-color: #f7f7f7;
            caption-side: bottom;
            color: #333;
            display: block;
            font-size: .75em;
            outline-offset: -1px;
            padding: .6em;
            word-break: break-word;
        }

        figure.image img,
        img.image_resized {
            height: auto !important;
            aspect-ratio: auto !important;
        }
    </style>
    <script src="https://web.nvnstatic.net/js/translate/vi-vn.js" defer=""></script>
</head>

<body id="lama-theme" class="tp_background tp_text_color" style="">
    <input type="hidden" id="checkStoreId" value="71503">

    <div id="mm-0" class="mm-page mm-slideout">
        <div id="content" class=""><!--<div id="page">-->


            <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/layer_filter.css?v=2" type="text/css">
            <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/product.js?v=2"></script>
            <div class="bread-crumb text-center bread-crumb_background" style=" background-image: url('');">
                <h3>Ngũ cốc</h3>
                <ul class="breadcrumb breadcrumb-arrow">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li>
                        <a class="564206" href="/san-pham-pc564206.html">Sản phẩm</a>
                    </li>
                    <li>
                        <a class="564210" href="/ngu-coc-pc564210.html">Ngũ cốc</a>
                    </li>
                </ul>
            </div> <!-- thẻ đóng file banner_product -->
            <div class="container">
                <div class="filter-bar">
                    <div class="col-lg-3">
                        <div class="box-header">
                            <h4>Tất cả sản phẩm</h4>
                        </div>
                    </div>
                    <div class="col-lg-9 d-flex fil-menu">
                        <ul class="">
                            <li>Sắp xếp theo :</li>
                            <li><a rel="nofollow" href="/ngu-coc-pc564210.html?show=new"><i></i> Sản phẩm mới </a></li>
                            <li><a rel="nofollow" href="/ngu-coc-pc564210.html?show=priceDesc"><i></i> Giá giảm dần</a>
                            </li>
                            <li><a rel="nofollow" href="/ngu-coc-pc564210.html?show=priceAsc"><i></i> Giá tăng dần</a>
                            </li>
                            <li><a rel="nofollow" href="/ngu-coc-pc564210.html?show=discount"><i></i> Sales</a></li>
                        </ul>
                        <span class="sort-by-mb  d-lg-none d-md-none">Sắp xếp:</span>
                        <span class="custom-dropdown-mb d-lg-none d-md-none">
                            <select onchange="window.location=this.options[this.selectedIndex].value">
                                <option selected="" value="/ngu-coc-pc564210.html?">Mặc định</option>
                                <option value="/ngu-coc-pc564210.html?show=priceDesc">Giá giảm dần</option>
                                <option value="/ngu-coc-pc564210.html?show=priceAsc">Giá tăng dần</option>
                                <option value="/ngu-coc-pc564210.html?show=discount">Sale</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605589" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/48-hat-yen-mach-can-mong-just-oats-nguyen-chat-an-lien-goi-p37605589.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_Pj6IzwD8fO4ALaBr4cL30hp6.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_Pj6IzwD8fO4ALaBr4cL30hp6.jpg"
                                    alt="4/8 Hạt yến mạch cán mỏng Just Oats nguyên chất ăn liền gói" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605589" root="-2"
                                    data-link="/48-hat-yen-mach-can-mong-just-oats-nguyen-chat-an-lien-goi-p37605589.html"
                                    title="Cho vào giỏ"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605589"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name"
                                        href="/48-hat-yen-mach-can-mong-just-oats-nguyen-chat-an-lien-goi-p37605589.html">4/8
                                        Hạt yến mạch cán mỏng Just Oats nguyên chất ăn liền gói</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">103,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605585" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/yen-mach-an-lien-quaker-hop-600g-p37605585.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_kYynzeuRdamq8WFE4rkUbST6.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_kYynzeuRdamq8WFE4rkUbST6.jpg"
                                    alt="Yến mạch ăn liền Quaker hộp 600g" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605585" root="-2"
                                    data-link="/yen-mach-an-lien-quaker-hop-600g-p37605585.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605585"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/yen-mach-an-lien-quaker-hop-600g-p37605585.html">Yến
                                        mạch ăn liền Quaker hộp 600g</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">115,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605582" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ngu-coc-dinh-duong-ohh-granola-hop-250g-p37605582.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_ENxfb53meKpvt3N2nFW2Mj1B.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_ENxfb53meKpvt3N2nFW2Mj1B.jpg"
                                    alt="Ngũ cốc dinh dưỡng Ohh Granola hộp 250g" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605582" root="-2"
                                    data-link="/ngu-coc-dinh-duong-ohh-granola-hop-250g-p37605582.html"
                                    title="Cho vào giỏ"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605582"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name"
                                        href="/ngu-coc-dinh-duong-ohh-granola-hop-250g-p37605582.html">Ngũ cốc dinh
                                        dưỡng Ohh Granola hộp 250g</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">164,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605577" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ngu-coc-trai-cay-calbee-goi-700g-p37605577.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_S3TAa8qJdnAFK8CzgnqvEVie.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_S3TAa8qJdnAFK8CzgnqvEVie.jpg"
                                    alt="Ngũ cốc trái cây Calbee gói 700g" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605577" root="-2"
                                    data-link="/ngu-coc-trai-cay-calbee-goi-700g-p37605577.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605577"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/ngu-coc-trai-cay-calbee-goi-700g-p37605577.html">Ngũ
                                        cốc trái cây Calbee gói 700g</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">280,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605572" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/banh-ngu-coc-simba-choco-chips-p37605572.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_oJNRBWJUW3ucuphPbiEBEb2I.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_oJNRBWJUW3ucuphPbiEBEb2I.jpg"
                                    alt="Bánh ngũ cốc Simba Choco Chips" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605572" root="-2"
                                    data-link="/banh-ngu-coc-simba-choco-chips-p37605572.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605572"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/banh-ngu-coc-simba-choco-chips-p37605572.html">Bánh
                                        ngũ cốc Simba Choco Chips</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">25,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605569" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ngu-coc-nestle-koko-krunch-p37605569.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_9UiBnAWykiJYu7XmNPtkxsAy.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_9UiBnAWykiJYu7XmNPtkxsAy.jpg"
                                    alt="Ngũ cốc Nestlé Koko Krunch" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605569" root="-2"
                                    data-link="/ngu-coc-nestle-koko-krunch-p37605569.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605569"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/ngu-coc-nestle-koko-krunch-p37605569.html">Ngũ cốc
                                        Nestlé Koko Krunch</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">25,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605566" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/mu-tat-vang-heinz-p37605566.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_dHSHTWuqJU8VXsvROsTqmuQG.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_dHSHTWuqJU8VXsvROsTqmuQG.jpg"
                                    alt="Mù tạt vàng Heinz" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605566" root="-2"
                                    data-link="/mu-tat-vang-heinz-p37605566.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605566"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/mu-tat-vang-heinz-p37605566.html">Mù tạt vàng
                                        Heinz</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">79,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605563" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ngu-coc-dinh-duong-corn-flakes-kelloggs-p37605563.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_8Ax5DOaOUynY8w6SUlREcrQx.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_8Ax5DOaOUynY8w6SUlREcrQx.jpg"
                                    alt="Ngũ cốc dinh dưỡng Corn Flakes Kelloggs" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605563" root="-2"
                                    data-link="/ngu-coc-dinh-duong-corn-flakes-kelloggs-p37605563.html"
                                    title="Cho vào giỏ"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605563"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name"
                                        href="/ngu-coc-dinh-duong-corn-flakes-kelloggs-p37605563.html">Ngũ cốc dinh
                                        dưỡng Corn Flakes Kelloggs</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">45,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605560" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ngu-coc-dinh-duong-coco-pops-kelloggs-p37605560.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_TcOfXfoXaE1QdH3Fp71TL4sK.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_TcOfXfoXaE1QdH3Fp71TL4sK.jpg"
                                    alt="Ngũ cốc dinh dưỡng Coco Pops Kelloggs" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605560" root="-2"
                                    data-link="/ngu-coc-dinh-duong-coco-pops-kelloggs-p37605560.html"
                                    title="Cho vào giỏ"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605560"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name"
                                        href="/ngu-coc-dinh-duong-coco-pops-kelloggs-p37605560.html">Ngũ cốc dinh dưỡng
                                        Coco Pops Kelloggs</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">99,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605557" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/com-chay-cha-bong-vi-ga-cay-p37605557.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_QkM0Y9mwX4rExHMBs5ukeikw.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_QkM0Y9mwX4rExHMBs5ukeikw.jpg"
                                    alt="Cơm cháy chà bông vị gà cay" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605557" root="-2"
                                    data-link="/com-chay-cha-bong-vi-ga-cay-p37605557.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605557"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/com-chay-cha-bong-vi-ga-cay-p37605557.html">Cơm cháy
                                        chà bông vị gà cay</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">166,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605553" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ngu-coc-dinh-duong-frosties-kelloggs-p37605553.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_MD9vdyftUGrV4E4J6750upBd.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_MD9vdyftUGrV4E4J6750upBd.jpg"
                                    alt="Ngũ cốc dinh dưỡng Frosties Kelloggs" sizes="209px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605553" root="-2"
                                    data-link="/ngu-coc-dinh-duong-frosties-kelloggs-p37605553.html"
                                    title="Cho vào giỏ"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605553"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name"
                                        href="/ngu-coc-dinh-duong-frosties-kelloggs-p37605553.html">Ngũ cốc dinh dưỡng
                                        Frosties Kelloggs</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">81,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pagination" class="pagination">
                    <ul class="pagination"></ul>
                </div>
            </div>


            <div class="sidebar-filter close-filters">
                <!-- FILTER ALL ATTR -->
                <div class="open-pro-filter tp_product_category_filter_attribute">
                    <h6>Kích cỡ</h6>
                    <div class="properties-filter size-filter mCustomScrollbar">

                        <a href="/ngu-coc-pc564210.html?i1=1880701">Super Power</a><a
                            href="/ngu-coc-pc564210.html?i1=1880700">Nutty</a><a
                            href="/ngu-coc-pc564210.html?i1=1880699">Nguyên bản</a><a
                            href="/ngu-coc-pc564210.html?i1=1880698">Caramel</a><a
                            href="/ngu-coc-pc564210.html?i1=1880697">Hoa quả tổng hợp</a><a
                            href="/ngu-coc-pc564210.html?i1=1880696">25 gram</a><a
                            href="/ngu-coc-pc564210.html?i1=1880695">Chai 200g</a><a
                            href="/ngu-coc-pc564210.html?i1=1880694">Chai 500g</a><a
                            href="/ngu-coc-pc564210.html?i1=1880693">175 gram</a><a
                            href="/ngu-coc-pc564210.html?i1=1880637">250 gram</a><a
                            href="/ngu-coc-pc564210.html?i1=1880636">1kg</a><a
                            href="/ngu-coc-pc564210.html?i1=1880635">500 gram</a>
                    </div>
                </div>
                <div class="open-pro-filter tp_product_category_filter_price">
                    <h6>Giá</h6>
                    <div class="price_slider_wrapper">
                        <span>Từ:
                            <span id="price_form" data-size="0">
                                0đ
                            </span>
                        </span>
                        <span class="pull-right">đến:
                            <span id="price_to" data-size="5000000" data-max="5000000">
                                5,000,000đ
                            </span>
                        </span>
                        <div id="slider-range"
                            class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                            aria-disabled="false">

                            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;">
                            </div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#"
                                style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all"
                                href="#" style="left: 100%;"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="open-filters" class="open-filters">
                <i class="fa fa-align-right" aria-hidden="true"></i><span>Bộ Lọc</span>
            </div>

            <footer class="tp_footer">
                <div class="new-letter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="letter-left heading">
                                    <h3>Đăng kí nhận tin khuyến mãi</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="contactFormEmail" type="email" name="contact[email]"
                                        class="form-control em" placeholder="Nhập email của bạn" required="">
                                    <div class="input-group-append">
                                        <button class="btn_dk tp_button">Đăng Ký</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 widget_first_childs">
                                <div class="logo_footer">
                                    <a href="/">
                                        <img width="165"
                                            src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png"
                                            alt="Logo">
                                    </a>
                                </div>
                                <div class="contact_footer">
                                    <ul>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>30 Phạm Văn Đồng Cầu Giấy, Hà Nội</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                            <span>1900.2812</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <span>abctheme205@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8 clearfix widget-ft">
                                <div class="col-md-4 footer-right_first float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Cẩm nang sử dụng</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample1" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Chính sách</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample1">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample2" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Dịch vụ</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample2">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center ft2">
                    <span data-runtime="Memory: 4.46 mb - Time: 0.17 s" id="runtime" style="display: block"> Thiết kế
                        web bởi <img src="https://web.nvnstatic.net/images/favicon.ico?v=3"
                            alt="Thiết kế web bởi NHANH.VN">
                        <a style="margin-top:5px;display:inline-block;font-size: 13px;" class="logo"
                            href="https://nhanh.vn" target="_blank"><b> Nhanh.vn </b></a>
                    </span>
                </div>

            </footer>


            <a class="email-icon" href="mailto:abctheme205@gmail.com">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="javascript:" id="back_to_Top"><i class="fas fa-arrow-up"></i></a>


        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickview" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickbuy" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div><input type="hidden" class="fanpageId" value=""><input type="hidden" id="bussinessId" value="71503"><input
        type="hidden"
        value="bfCypEgZjrVX8F6AleoMwf8arTLJhEJSLcBMwYJOLGqbSnrl6e50V54vQuDBttPa9NOPaPUg14RYfE1HTsFbq8ed9REa1hDft84kJlrBaEonqWDSGj250iGRcZFcRnNbPhQ5ydDBfCS7FElsbknmpffG7vIs629mqgxaBMC"
        id="uctk" name="uctk"><input type="hidden" id="clienIp" value="118.71.204.98"><!-- Modal Quickview-->


    <!-- Modal Quickbuy-->



    <div id="mm-blocker" class="mm-slideout"></div>
</body><chatgpt-sidebar data-gpts-theme="light"></chatgpt-sidebar><!--Begining of TestComplete File-->
<script src="chrome-extension://74c55a1f-b8ce-44eb-9bd0-295dd9d716d0/common/iocm.js"
    istestcompletehiddennode="1"></script><!--Ending of TestComplete File--><chatgpt-sidebar-popups
    data-gpts-theme="light"></chatgpt-sidebar-popups>

</html>