<html lang="vi-VN" data-nhanh.vn-template="T0307">

<head>
    <meta name="robots" content="noindex">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    , maximum-scale=1.0-->
    <title>Rau Củ</title>
    <meta name="keywords" content="Rau Củ">
    <meta name="description" content="Rau Củ">
    <meta property="og:title" content="Rau Củ">
    <meta property="og:type" content="product">
    <meta property="og:image" content="http:">
    <meta name="google-site-verification" content="">
    <link href="http://t0307.store.nhanh.vn/rau-cu-pc564207.html" rel="canonical">
    <link href="https://pos.nvncdn.com/16a837-71503/store/20200325_ZRJHulhsIfpehzWImFaQoMVt.png" rel="icon"
        type="image/vnd.microsoft.icon">
    <link rel="preload" href="https://web.nvnstatic.net/tp/T0307/font/Quicksand-VariableFont_wght.ttf" as="font"
        type="font/ttf" crossorigin="">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fontAwesome/font-awesome-4.7.0.min.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fancybox-4.0.31/fancybox_4.0.31.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/font.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/js/mmenu/css/jquery.mmenu.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/jqueryUI/jqui.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/owlCarousel/owl.carousel.min.2.3.4.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/appLib.css" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/style.css?v=69" type="text/css">
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.min.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.cookie.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/boostrap.popper.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery-ui-1.10.3.custom.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/bootstrap.4.3.1.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery.number.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/fancybox-4.0.31/fancybox_4.0.31.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/owlCarousel/owl.carousel.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/mmenu/js/jquery.mmenu.min.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/lib.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/main.js?v=54"></script>
    <style type="text/css"></style>
    <style type="text/css">
        img {
            max-width: 100%;
        }

        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=241216_094852" defer=""></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async=""></script>
    <style>
        figure.image {
            clear: both;
            display: table;
            margin: .9em auto;
            min-width: 50px;
            text-align: center;
            width: auto !important;
        }

        figure.image img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            min-width: 100%;
        }

        figure.image>figcaption {
            background-color: #f7f7f7;
            caption-side: bottom;
            color: #333;
            display: block;
            font-size: .75em;
            outline-offset: -1px;
            padding: .6em;
            word-break: break-word;
        }

        figure.image img,
        img.image_resized {
            height: auto !important;
            aspect-ratio: auto !important;
        }
    </style>
    <script src="https://web.nvnstatic.net/js/translate/vi-vn.js" defer=""></script>
</head>

<body id="lama-theme" class="tp_background tp_text_color" style="">

    <input type="hidden" id="checkStoreId" value="71503">

    <div id="mm-0" class="mm-page mm-slideout">
        <div id="content" class=""><!--<div id="page">-->


            <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/layer_filter.css?v=2" type="text/css">
            <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/product.js?v=2"></script>
            <div class="bread-crumb text-center bread-crumb_background" style=" background-image: url('');">
                <h3>Rau Củ</h3>
                <ul class="breadcrumb breadcrumb-arrow">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li>
                        <a class="564206" href="/san-pham-pc564206.html">Sản phẩm</a>
                    </li>
                    <li>
                        <a class="564207" href="/rau-cu-pc564207.html">Rau Củ</a>
                    </li>
                </ul>
            </div> <!-- thẻ đóng file banner_product -->
            <div class="container">
                <div class="filter-bar">
                    <div class="col-lg-3">
                        <div class="box-header">
                            <h4>Tất cả sản phẩm</h4>
                        </div>
                    </div>
                    <div class="col-lg-9 d-flex fil-menu">
                        <ul class="">
                            <li>Sắp xếp theo :</li>
                            <li><a rel="nofollow" href="/rau-cu-pc564207.html?show=new"><i></i> Sản phẩm mới </a></li>
                            <li><a rel="nofollow" href="/rau-cu-pc564207.html?show=priceDesc"><i></i> Giá giảm dần</a>
                            </li>
                            <li><a rel="nofollow" href="/rau-cu-pc564207.html?show=priceAsc"><i></i> Giá tăng dần</a>
                            </li>
                            <li><a rel="nofollow" href="/rau-cu-pc564207.html?show=discount"><i></i> Sales</a></li>
                        </ul>
                        <span class="sort-by-mb  d-lg-none d-md-none">Sắp xếp:</span>
                        <span class="custom-dropdown-mb d-lg-none d-md-none">
                            <select onchange="window.location=this.options[this.selectedIndex].value">
                                <option selected="" value="/rau-cu-pc564207.html?">Mặc định</option>
                                <option value="/rau-cu-pc564207.html?show=priceDesc">Giá giảm dần</option>
                                <option value="/rau-cu-pc564207.html?show=priceAsc">Giá tăng dần</option>
                                <option value="/rau-cu-pc564207.html?show=discount">Sale</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597854" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/xa-lach-my-huu-co-p37597854.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_CzUUJb8hqJLMkdJSghkAuGaT.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_CzUUJb8hqJLMkdJSghkAuGaT.jpg"
                                    alt="Xà lách Mỹ hữu cơ" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597854" root="-2"
                                    data-link="/xa-lach-my-huu-co-p37597854.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597854"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/xa-lach-my-huu-co-p37597854.html">Xà lách Mỹ hữu
                                        cơ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">Liên hệ</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597849" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/khoai-lang-nhat-huu-co-p37597849.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_EVgUTsE1ipZN6UaPzBlm9opz.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_EVgUTsE1ipZN6UaPzBlm9opz.jpg"
                                    alt="Khoai lang Nhật hữu cơ" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597849" root="-2"
                                    data-link="/khoai-lang-nhat-huu-co-p37597849.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597849"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/khoai-lang-nhat-huu-co-p37597849.html">Khoai lang
                                        Nhật hữu cơ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">51,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597843" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/dau-cove-nhat-huu-co-p37597843.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_c5GZwO6us00iCHLp3DHqVlC5.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_c5GZwO6us00iCHLp3DHqVlC5.jpg"
                                    alt="Đậu cove Nhật hữu cơ" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597843" root="-2"
                                    data-link="/dau-cove-nhat-huu-co-p37597843.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597843"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/dau-cove-nhat-huu-co-p37597843.html">Đậu cove Nhật
                                        hữu cơ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">35,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597833" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product" onclick="window.location.href='/can-tay-huu-co-p37597833.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_0r2FqJZobV9cG1oxnyGhmD73.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_0r2FqJZobV9cG1oxnyGhmD73.jpg"
                                    alt="Cần tây hữu cơ" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597833" root="-2"
                                    data-link="/can-tay-huu-co-p37597833.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597833"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/can-tay-huu-co-p37597833.html">Cần tây hữu cơ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">82,500₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597828" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product" onclick="window.location.href='/cai-ngot-huu-co-p37597828.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_IuwIRr5BaNmIv02vUneImBc4.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_IuwIRr5BaNmIv02vUneImBc4.jpg"
                                    alt="Cải ngọt hữu cơ" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597828" root="-2"
                                    data-link="/cai-ngot-huu-co-p37597828.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597828"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/cai-ngot-huu-co-p37597828.html">Cải ngọt hữu cơ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">38,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597820" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product" onclick="window.location.href='/cai-ngong-huu-co-p37597820.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_trSuojjqZTAdHNvXUoYFrmAY.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_trSuojjqZTAdHNvXUoYFrmAY.jpg"
                                    alt="Cải ngồng hữu cơ" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597820" root="-2"
                                    data-link="/cai-ngong-huu-co-p37597820.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597820"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/cai-ngong-huu-co-p37597820.html">Cải ngồng hữu cơ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">35,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597817" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ca-chua-mini-socola-huu-co-p37597817.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_4FBSTPofC4MXwhrb9anxTwKg.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_4FBSTPofC4MXwhrb9anxTwKg.jpg"
                                    alt="Cà chua mini socola hữu cơ" sizes="261px">
                                <div class="label-sale">-8%</div>
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597817" root="-2"
                                    data-link="/ca-chua-mini-socola-huu-co-p37597817.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597817"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/ca-chua-mini-socola-huu-co-p37597817.html">Cà chua
                                        mini socola hữu cơ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">35,000₫</span> <span
                                        class="old-price tp_product_price_old">38,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597814" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ca-chua-mini-do-huu-co-p37597814.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_dDmP4dWhTuJeVRzZp2XcbTLj.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_dDmP4dWhTuJeVRzZp2XcbTLj.jpg"
                                    alt="Cà chua mini đỏ hữu cơ" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597814" root="-2"
                                    data-link="/ca-chua-mini-do-huu-co-p37597814.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597814"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/ca-chua-mini-do-huu-co-p37597814.html">Cà chua mini
                                        đỏ hữu cơ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">29,800₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597805" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/bi-do-non-huu-co-usda-food-king-p37597805.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_98bS0LTSpj4tHZQYRvRJ7VCs.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_98bS0LTSpj4tHZQYRvRJ7VCs.jpg"
                                    alt="Bí đỏ non hữu cơ USDA Food King" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597805" root="-2"
                                    data-link="/bi-do-non-huu-co-usda-food-king-p37597805.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597805"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/bi-do-non-huu-co-usda-food-king-p37597805.html">Bí đỏ
                                        non hữu cơ USDA Food King</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">43,800₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597797" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/bi-do-huu-co-food-king-p37597797.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_9V7wEGaf5QgsTomGFU6W346c.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_9V7wEGaf5QgsTomGFU6W346c.jpg"
                                    alt="Bí đỏ hữu cơ Food King" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597797" root="-2"
                                    data-link="/bi-do-huu-co-food-king-p37597797.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597797"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/bi-do-huu-co-food-king-p37597797.html">Bí đỏ hữu cơ
                                        Food King</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">140,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37597789" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/bap-nep-huu-co-usda-food-king-p37597789.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220322_zvxxFVlloyt9fuPzuCjsbRmN.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220322_zvxxFVlloyt9fuPzuCjsbRmN.jpg"
                                    alt="Bắp nếp hữu cơ USDA Food King" sizes="261px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37597789" root="-2"
                                    data-link="/bap-nep-huu-co-usda-food-king-p37597789.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37597789"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/bap-nep-huu-co-usda-food-king-p37597789.html">Bắp nếp
                                        hữu cơ USDA Food King</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">60,500₫</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pagination" class="pagination">
                    <ul class="pagination"></ul>
                </div>
            </div>


            <div class="sidebar-filter close-filters">
                <!-- FILTER ALL ATTR -->
                <div class="open-pro-filter tp_product_category_filter_attribute">
                    <h6>Kích cỡ</h6>
                    <div class="properties-filter size-filter mCustomScrollbar">

                        <a href="/rau-cu-pc564207.html?i1=1880637">250 gram</a><a
                            href="/rau-cu-pc564207.html?i1=1880636">1kg</a><a
                            href="/rau-cu-pc564207.html?i1=1880635">500 gram</a><a
                            href="/rau-cu-pc564207.html?i1=1880634">200 gram</a>
                    </div>
                </div>
                <div class="open-pro-filter tp_product_category_filter_price">
                    <h6>Giá</h6>
                    <div class="price_slider_wrapper">
                        <span>Từ:
                            <span id="price_form" data-size="0">
                                0đ
                            </span>
                        </span>
                        <span class="pull-right">đến:
                            <span id="price_to" data-size="5000000" data-max="5000000">
                                5,000,000đ
                            </span>
                        </span>
                        <div id="slider-range"
                            class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                            aria-disabled="false">

                            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;">
                            </div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#"
                                style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all"
                                href="#" style="left: 100%;"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="open-filters" class="open-filters">
                <i class="fa fa-align-right" aria-hidden="true"></i><span>Bộ Lọc</span>
            </div>

            <footer class="tp_footer">
                <div class="new-letter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="letter-left heading">
                                    <h3>Đăng kí nhận tin khuyến mãi</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="contactFormEmail" type="email" name="contact[email]"
                                        class="form-control em" placeholder="Nhập email của bạn" required="">
                                    <div class="input-group-append">
                                        <button class="btn_dk tp_button">Đăng Ký</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 widget_first_childs">
                                <div class="logo_footer">
                                    <a href="/">
                                        <img width="165"
                                            src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png"
                                            alt="Logo">
                                    </a>
                                </div>
                                <div class="contact_footer">
                                    <ul>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>30 Phạm Văn Đồng Cầu Giấy, Hà Nội</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                            <span>1900.2812</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <span>abctheme205@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8 clearfix widget-ft">
                                <div class="col-md-4 footer-right_first float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Cẩm nang sử dụng</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample1" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Chính sách</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample1">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample2" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Dịch vụ</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample2">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center ft2">
                    <span data-runtime="Memory: 4.46 mb - Time: 0.62 s" id="runtime" style="display: block"> Thiết kế
                        web bởi <img src="https://web.nvnstatic.net/images/favicon.ico?v=3"
                            alt="Thiết kế web bởi NHANH.VN">
                        <a style="margin-top:5px;display:inline-block;font-size: 13px;" class="logo"
                            href="https://nhanh.vn" target="_blank"><b> Nhanh.vn </b></a>
                    </span>
                </div>

            </footer>


            <a class="email-icon" href="mailto:abctheme205@gmail.com">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="javascript:" id="back_to_Top"><i class="fas fa-arrow-up"></i></a>


        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickview" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickbuy" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div><input type="hidden" class="fanpageId" value=""><input type="hidden" id="bussinessId" value="71503"><input
        type="hidden"
        value="bfCypEgZjrVX8F6AleoMwf8arTLJhEJSLcBMwYJOLGqbSnrl6e50V54vQuDBttPa9NOPaPUg14RYfE1HTsFbq8ed9REa1hDft84kJlrBaEonqWDSGj250iGRcZFcRnNbPhQ5ydDBfCS7FElsbknmpffG7vIs629mqgxaBMC"
        id="uctk" name="uctk"><input type="hidden" id="clienIp" value="118.71.204.98"><!-- Modal Quickview-->


    <!-- Modal Quickbuy-->



    <div id="mm-blocker" class="mm-slideout"></div>
</body><chatgpt-sidebar data-gpts-theme="light"></chatgpt-sidebar><!--Begining of TestComplete File-->
<script src="chrome-extension://94d4a8dd-9161-475d-9cf6-64c4072447e5/common/iocm.js"
    istestcompletehiddennode="1"></script><!--Ending of TestComplete File--><chatgpt-sidebar-popups
    data-gpts-theme="light"></chatgpt-sidebar-popups>

</html>