<html lang="vi-VN" data-nhanh.vn-template="T0307">

<head>
    <link rel="dns-prefetch">
    <link rel="preconnect" href="https://web.nvnstatic.net/" crossorigin="">
    <link rel="preconnect" href="https://pos.nvncdn.com/" crossorigin="">
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin="">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <meta name="robots" content="noindex">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    , maximum-scale=1.0-->
    <title>Thực phẩm tươi sống</title>
    <meta name="keywords" content="Thực phẩm tươi sống">
    <meta name="description" content="Thực phẩm tươi sống">
    <meta property="og:title" content="Thực phẩm tươi sống">
    <meta property="og:type" content="product">
    <meta property="og:image" content="http:">
    <meta name="google-site-verification" content="">
    <link href="http://t0307.store.nhanh.vn/thuc-pham-tuoi-song-pc564209.html" rel="canonical">
    <link href="https://pos.nvncdn.com/16a837-71503/store/20200325_ZRJHulhsIfpehzWImFaQoMVt.png" rel="icon"
        type="image/vnd.microsoft.icon">
    <link rel="preload" href="https://web.nvnstatic.net/tp/T0307/font/Quicksand-VariableFont_wght.ttf" as="font"
        type="font/ttf" crossorigin="">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fontAwesome/font-awesome-4.7.0.min.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fancybox-4.0.31/fancybox_4.0.31.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/font.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/js/mmenu/css/jquery.mmenu.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/jqueryUI/jqui.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/owlCarousel/owl.carousel.min.2.3.4.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/appLib.css" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/style.css?v=69" type="text/css">
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.min.js?v=30"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.cookie.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/boostrap.popper.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery-ui-1.10.3.custom.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/bootstrap.4.3.1.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery.number.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/fancybox-4.0.31/fancybox_4.0.31.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/owlCarousel/owl.carousel.min.js?v=30"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/mmenu/js/jquery.mmenu.min.js?v=30"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/lib.js?v=30"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/main.js?v=54"></script>
    <style type="text/css"></style>
    <style type="text/css">
        img {
            max-width: 100%;
        }

        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=241216_094852" defer=""></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async=""></script>
    <style>
        figure.image {
            clear: both;
            display: table;
            margin: .9em auto;
            min-width: 50px;
            text-align: center;
            width: auto !important;
        }

        figure.image img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            min-width: 100%;
        }

        figure.image>figcaption {
            background-color: #f7f7f7;
            caption-side: bottom;
            color: #333;
            display: block;
            font-size: .75em;
            outline-offset: -1px;
            padding: .6em;
            word-break: break-word;
        }

        figure.image img,
        img.image_resized {
            height: auto !important;
            aspect-ratio: auto !important;
        }
    </style>
    <script src="https://web.nvnstatic.net/js/translate/vi-vn.js" defer=""></script>
</head>

<body id="lama-theme" class="tp_background tp_text_color" style="">
    <input type="hidden" id="checkStoreId" value="71503">

    <div id="mm-0" class="mm-page mm-slideout">
        <div id="content" class=""><!--<div id="page">-->
            <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/layer_filter.css?v=2" type="text/css">
            <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/product.js?v=2"></script>
            <div class="bread-crumb text-center bread-crumb_background" style=" background-image: url('');">

                <h3>Thực phẩm tươi sống</h3>
                <ul class="breadcrumb breadcrumb-arrow">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li>
                        <a class="564206" href="/san-pham-pc564206.html">Sản phẩm</a>
                    </li>
                    <li>
                        <a class="564209" href="/thuc-pham-tuoi-song-pc564209.html">Thực phẩm tươi sống</a>
                    </li>
                </ul>
            </div> <!-- thẻ đóng file banner_product -->
            <div class="container">
                <div class="filter-bar">
                    <div class="col-lg-3">
                        <div class="box-header">
                            <h4>Tất cả sản phẩm</h4>
                        </div>
                    </div>
                    <div class="col-lg-9 d-flex fil-menu">
                        <ul class="">
                            <li>Sắp xếp theo :</li>
                            <li><a rel="nofollow" href="/thuc-pham-tuoi-song-pc564209.html?show=new"><i></i> Sản phẩm
                                    mới </a></li>
                            <li><a rel="nofollow" href="/thuc-pham-tuoi-song-pc564209.html?show=priceDesc"><i></i> Giá
                                    giảm dần</a></li>
                            <li><a rel="nofollow" href="/thuc-pham-tuoi-song-pc564209.html?show=priceAsc"><i></i> Giá
                                    tăng dần</a></li>
                            <li><a rel="nofollow" href="/thuc-pham-tuoi-song-pc564209.html?show=discount"><i></i>
                                    Sales</a></li>
                        </ul>
                        <span class="sort-by-mb  d-lg-none d-md-none">Sắp xếp:</span>
                        <span class="custom-dropdown-mb d-lg-none d-md-none">
                            <select onchange="window.location=this.options[this.selectedIndex].value">
                                <option selected="" value="/thuc-pham-tuoi-song-pc564209.html?">Mặc định</option>
                                <option value="/thuc-pham-tuoi-song-pc564209.html?show=priceDesc">Giá giảm dần</option>
                                <option value="/thuc-pham-tuoi-song-pc564209.html?show=priceAsc">Giá tăng dần</option>
                                <option value="/thuc-pham-tuoi-song-pc564209.html?show=discount">Sale</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="row">

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605609" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ba-roi-heo-rut-suon-c.p-p37605609.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_WnD8zo2vQ46vCMRSe3ig4nJ5.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_WnD8zo2vQ46vCMRSe3ig4nJ5.jpg"
                                    alt="Ba rọi heo rút sườn C.P" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605609" root="-2"
                                    data-link="/ba-roi-heo-rut-suon-c.p-p37605609.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605609"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/ba-roi-heo-rut-suon-c.p-p37605609.html">Ba rọi heo
                                        rút sườn C.P</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">119,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605605" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/nam-bo-uc-tuoi-trung-dong-hut-chan-khong-p37605605.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_me84ECu0sxuUEGJodaQz6iJ6.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_me84ECu0sxuUEGJodaQz6iJ6.jpg"
                                    alt="Nạm bò Úc tươi Trung Đồng hút chân không" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605605" root="-2"
                                    data-link="/nam-bo-uc-tuoi-trung-dong-hut-chan-khong-p37605605.html"
                                    title="Cho vào giỏ"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605605"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name"
                                        href="/nam-bo-uc-tuoi-trung-dong-hut-chan-khong-p37605605.html">Nạm bò Úc tươi
                                        Trung Đồng hút chân không</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">84,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37605593" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/vai-bo-uc-tuoi-trung-dong-hut-chan-khong-p37605593.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220324_KEhOiEC673Mtq8r67mcTYdl5.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220324_KEhOiEC673Mtq8r67mcTYdl5.jpg"
                                    alt="Vai bò Úc tươi Trung Đồng hút chân không" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37605593" root="-2"
                                    data-link="/vai-bo-uc-tuoi-trung-dong-hut-chan-khong-p37605593.html"
                                    title="Cho vào giỏ"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37605593"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name"
                                        href="/vai-bo-uc-tuoi-trung-dong-hut-chan-khong-p37605593.html">Vai bò Úc tươi
                                        Trung Đồng hút chân không</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">120,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37603253" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/tom-the-tuoi-dong-lanh-p37603253.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_3BttlAEr4V0VwkapG2wrtYpz.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_3BttlAEr4V0VwkapG2wrtYpz.jpg"
                                    alt="Tôm thẻ tươi đông lạnh" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37603253" root="-2"
                                    data-link="/tom-the-tuoi-dong-lanh-p37603253.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37603253"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/tom-the-tuoi-dong-lanh-p37603253.html">Tôm thẻ tươi
                                        đông lạnh</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">109,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37603213" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/phi-le-ca-loc-bong-thai-lat-p37603213.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_taBYsR2IO1mYa5o7v5UQ9a6M.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_taBYsR2IO1mYa5o7v5UQ9a6M.jpg"
                                    alt="Phi lê cá lóc bông thái lát" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37603213" root="-2"
                                    data-link="/phi-le-ca-loc-bong-thai-lat-p37603213.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37603213"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/phi-le-ca-loc-bong-thai-lat-p37603213.html">Phi lê cá
                                        lóc bông thái lát</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">89,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37601924" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product" onclick="window.location.href='/ngheu-hai-coi-p37601924.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_MdD7U0LZg5jkXkhHw83JwzOr.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_MdD7U0LZg5jkXkhHw83JwzOr.jpg"
                                    alt="Nghêu Hai Cồi" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37601924" root="-2"
                                    data-link="/ngheu-hai-coi-p37601924.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37601924"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/ngheu-hai-coi-p37601924.html">Nghêu Hai Cồi</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">105,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37601822" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product" onclick="window.location.href='/ngheu-xanh-p37601822.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_ItUb7f7RBOwgGAXslaC5iIE8.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_ItUb7f7RBOwgGAXslaC5iIE8.jpg"
                                    alt="Nghêu Xanh" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37601822" root="-2"
                                    data-link="/ngheu-xanh-p37601822.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37601822"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/ngheu-xanh-p37601822.html">Nghêu Xanh</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">49,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37601791" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/cua-hoang-de-king-crab-do-p37601791.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_T1mYbNKuElLuHctTt4xVwVle.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_T1mYbNKuElLuHctTt4xVwVle.jpg"
                                    alt="Cua Hoàng Đế King Crab đỏ" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37601791" root="-2"
                                    data-link="/cua-hoang-de-king-crab-do-p37601791.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37601791"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/cua-hoang-de-king-crab-do-p37601791.html">Cua Hoàng
                                        Đế King Crab đỏ</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">2,999,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37601705" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/ca-hoi-phi-le-con-da-na-uy-p37601705.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_w9HYe8LG9s5rdX3RiCgrzSku.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_w9HYe8LG9s5rdX3RiCgrzSku.jpg"
                                    alt="Cá Hồi phi lê còn da Na Uy" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37601705" root="-2"
                                    data-link="/ca-hoi-phi-le-con-da-na-uy-p37601705.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37601705"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/ca-hoi-phi-le-con-da-na-uy-p37601705.html">Cá Hồi phi
                                        lê còn da Na Uy</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">223,750₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37601683" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/dau-than-bo-uc-pacow-p37601683.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_4xFrW0tdFyS2Iup66G9uHaYp.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_4xFrW0tdFyS2Iup66G9uHaYp.jpg"
                                    alt="Đầu thăn bò Úc Pacow" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37601683" root="-2"
                                    data-link="/dau-than-bo-uc-pacow-p37601683.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37601683"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/dau-than-bo-uc-pacow-p37601683.html">Đầu thăn bò Úc
                                        Pacow</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">226,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 col-lg-3 product_item" data-id="37601658" data-type="1">
                        <div class="product cate-product text-center">

                            <div class="img-product"
                                onclick="window.location.href='/phile-uc-ga-tuoi-3f-p37601658.html';">

                                <img data-sizes="auto" class="card-img-top lazyautosizes lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/ps/20220323_TRxWnYYZ4sBm6KexuLTlklW6.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/ps/20220323_TRxWnYYZ4sBm6KexuLTlklW6.jpg"
                                    alt="Phile ức gà tươi 3F" sizes="218px">
                            </div>

                            <div hidden="" class="group-action">
                                <a href="#" class="quick-buy" selid="37601658" root="-2"
                                    data-link="/phile-uc-ga-tuoi-3f-p37601658.html" title="Cho vào giỏ"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" class="quick-view" data-id="37601658"><i
                                        class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                            <div class="product-body">
                                <div>
                                    <a class="product-name" href="/phile-uc-ga-tuoi-3f-p37601658.html">Phile ức gà tươi
                                        3F</a>
                                </div>
                                <div class="price-box">
                                    <span class="price tp_product_price">41,000₫</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pagination" class="pagination">
                    <ul class="pagination"></ul>
                </div>
            </div>


            <div class="sidebar-filter close-filters">
                <!-- FILTER ALL ATTR -->
                <div class="open-pro-filter tp_product_category_filter_attribute">
                    <h6>Kích cỡ</h6>
                    <div class="properties-filter size-filter mCustomScrollbar">

                        <a href="/thuc-pham-tuoi-song-pc564209.html?i1=1880665">3kg</a><a
                            href="/thuc-pham-tuoi-song-pc564209.html?i1=1880664">5kg</a><a
                            href="/thuc-pham-tuoi-song-pc564209.html?i1=1880662">2 kg</a><a
                            href="/thuc-pham-tuoi-song-pc564209.html?i1=1880637">250 gram</a><a
                            href="/thuc-pham-tuoi-song-pc564209.html?i1=1880636">1kg</a><a
                            href="/thuc-pham-tuoi-song-pc564209.html?i1=1880635">500 gram</a><a
                            href="/thuc-pham-tuoi-song-pc564209.html?i1=1880634">200 gram</a>
                    </div>
                </div>
                <div class="open-pro-filter tp_product_category_filter_price">
                    <h6>Giá</h6>
                    <div class="price_slider_wrapper">
                        <span>Từ:
                            <span id="price_form" data-size="0">
                                0đ
                            </span>
                        </span>
                        <span class="pull-right">đến:
                            <span id="price_to" data-size="5000000" data-max="5000000">
                                5,000,000đ
                            </span>
                        </span>
                        <div id="slider-range"
                            class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
                            aria-disabled="false">

                            <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;">
                            </div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#"
                                style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all"
                                href="#" style="left: 100%;"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="open-filters" class="open-filters">
                <i class="fa fa-align-right" aria-hidden="true"></i><span>Bộ Lọc</span>
            </div>

            <footer class="tp_footer">
                <div class="new-letter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="letter-left heading">
                                    <h3>Đăng kí nhận tin khuyến mãi</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="contactFormEmail" type="email" name="contact[email]"
                                        class="form-control em" placeholder="Nhập email của bạn" required="">
                                    <div class="input-group-append">
                                        <button class="btn_dk tp_button">Đăng Ký</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 widget_first_childs">
                                <div class="logo_footer">
                                    <a href="/">
                                        <img width="165"
                                            src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png"
                                            alt="Logo">
                                    </a>
                                </div>
                                <div class="contact_footer">
                                    <ul>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>30 Phạm Văn Đồng Cầu Giấy, Hà Nội</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                            <span>1900.2812</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <span>abctheme205@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8 clearfix widget-ft">
                                <div class="col-md-4 footer-right_first float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Cẩm nang sử dụng</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample1" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Chính sách</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample1">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample2" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Dịch vụ</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample2">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center ft2">
                    <span data-runtime="Memory: 4.47 mb - Time: 0.18 s" id="runtime" style="display: block"> Thiết kế
                        web bởi <img src="https://web.nvnstatic.net/images/favicon.ico?v=3"
                            alt="Thiết kế web bởi NHANH.VN">
                        <a style="margin-top:5px;display:inline-block;font-size: 13px;" class="logo"
                            href="https://nhanh.vn" target="_blank"><b> Nhanh.vn </b></a>
                    </span>
                </div>

            </footer>


            <a class="email-icon" href="mailto:abctheme205@gmail.com">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="javascript:" id="back_to_Top"><i class="fas fa-arrow-up"></i></a>


        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickview" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickbuy" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div><input type="hidden" class="fanpageId" value=""><input type="hidden" id="bussinessId" value="71503"><input
        type="hidden"
        value="bfCypEgZjrVX8F6AleoMwf8arTLJhEJSLcBMwYJOLGqbSnrl6e50V54vQuDBttPa9NOPaPUg14RYfE1HTsFbq8ed9REa1hDft84kJlrBaEonqWDSGj250iGRcZFcRnNbPhQ5ydDBfCS7FElsbknmpffG7vIs629mqgxaBMC"
        id="uctk" name="uctk"><input type="hidden" id="clienIp" value="118.71.204.98"><!-- Modal Quickview-->


    <!-- Modal Quickbuy-->



    <div id="mm-blocker" class="mm-slideout"></div>
</body><chatgpt-sidebar data-gpts-theme="light"></chatgpt-sidebar><chatgpt-sidebar-popups
    data-gpts-theme="light"></chatgpt-sidebar-popups><!--Begining of TestComplete File-->
<script src="chrome-extension://74c55a1f-b8ce-44eb-9bd0-295dd9d716d0/common/iocm.js"
    istestcompletehiddennode="1"></script><!--Ending of TestComplete File-->

</html>