<html lang="vi-VN" data-nhanh.vn-template="T0307">

<head>
    <meta name="robots" content="noindex">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    , maximum-scale=1.0-->
    <title>Tin tức</title>
    <meta name="google-site-verification" content="">
    <link href="http://t0307.store.nhanh.vn/tin-tuc-nc103891.html" rel="canonical">
    <link href="https://pos.nvncdn.com/16a837-71503/store/20200325_ZRJHulhsIfpehzWImFaQoMVt.png" rel="icon"
        type="image/vnd.microsoft.icon">
    <link rel="preload" href="https://web.nvnstatic.net/tp/T0307/font/Quicksand-VariableFont_wght.ttf" as="font"
        type="font/ttf" crossorigin="">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/bootstrap/bootstrap.4.3.1.min.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fontAwesome/font-awesome-4.7.0.min.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/fancybox-4.0.31/fancybox_4.0.31.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/font.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/js/mmenu/css/jquery.mmenu.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/jqueryUI/jqui.css?v=26" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/owlCarousel/owl.carousel.min.2.3.4.css?v=26"
        type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/css/appLib.css" type="text/css">
    <link rel="stylesheet" href="https://web.nvnstatic.net/tp/T0307/css/style.css?v=69" type="text/css">
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.min.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/jquery/jquery.cookie.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/boostrap.popper.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery-ui-1.10.3.custom.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/bootstrap/bootstrap.4.3.1.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/jquery.number.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/jquery/fancybox-4.0.31/fancybox_4.0.31.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/owlCarousel/owl.carousel.min.js?v=104"></script>
    <script defer="" type="text/javascript"
        src="https://web.nvnstatic.net/js/mmenu/js/jquery.mmenu.min.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/js/lib.js?v=104"></script>
    <script defer="" type="text/javascript" src="https://web.nvnstatic.net/tp/T0307/js/main.js?v=54"></script>
    <style type="text/css"></style>
    <style type="text/css">
        img {
            max-width: 100%;
        }

        img.lazyload {
            opacity: 0.001;
            object-fit: scale-down !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_out_v2 {
            max-height: 0 !important;
        }

        .fb-customerchat>span>iframe.fb_customer_chat_bounce_in_v2 {
            max-height: calc(100% - 80px) !important;
        }
    </style>
    <script src="https://pos.nvnstatic.net/cache/location.vn.js?v=241216_094852" defer=""></script>
    <script src="https://web.nvnstatic.net/js/lazyLoad/lazysizes.min.js" async=""></script>
    <style>
        figure.image {
            clear: both;
            display: table;
            margin: .9em auto;
            min-width: 50px;
            text-align: center;
            width: auto !important;
        }

        figure.image img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            min-width: 100%;
        }

        figure.image>figcaption {
            background-color: #f7f7f7;
            caption-side: bottom;
            color: #333;
            display: block;
            font-size: .75em;
            outline-offset: -1px;
            padding: .6em;
            word-break: break-word;
        }

        figure.image img,
        img.image_resized {
            height: auto !important;
            aspect-ratio: auto !important;
        }
    </style>
    <script src="https://web.nvnstatic.net/js/translate/vi-vn.js" defer=""></script>
</head>

<body id="lama-theme" class="tp_background tp_text_color" style="">
    <input type="hidden" id="checkStoreId" value="71503">

    <div id="mm-0" class="mm-page mm-slideout">
        <div id="content" class=""><!--<div id="page">-->



            <div class="bread-crumb text-center bread-crumb_background"
                style=" background-image: url('https://pos.nvncdn.com/16a837-71503/bn/20220325_5UxI8S76E0NIJxh0znPFxEOw.png');">
                <h3>Tin tức</h3>
                <ul class="breadcrumb breadcrumb-arrow">
                    <li>
                        <a href="/">Trang chủ</a>
                    </li>
                    <li>
                        <a href="/news">News</a>
                    </li>
                    <li>
                        <a href="/tin-tuc-nc103891.html">Tin tức</a>
                    </li>
                </ul>
            </div> <!-- thẻ đóng file banner_product -->
            <div class="container">


                <div class="row" style="margin-bottom: 15px">
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/khong-phai-sua-nhung-thuc-pham-nay-con-giau-canxi-hon!-n99126.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/khong-phai-sua-nhung-thuc-pham-nay-con-giau-canxi-hon!-n99126.html"
                                title="Không phải sữa, những thực phẩm này còn giàu Canxi hơn!">
                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/art/20220325_gszmghF3e9NrwD9VqlyquIIC.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220325_gszmghF3e9NrwD9VqlyquIIC.jpg"
                                    alt="Không phải sữa, những thực phẩm này còn giàu Canxi hơn!" sizes="293px">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>25-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/khong-phai-sua-nhung-thuc-pham-nay-con-giau-canxi-hon!-n99126.html"
                                class="card_news_title">Không phải sữa, những thực phẩm này còn giàu Canxi hơn!</a>
                            <p class="card_news_text">Nếu bạn đã ngao ngán đến việc uống sữa mỗi ngày, thì những thực
                                phẩm như cá hồi, hạt hạnh nhân, các loại đậu,… sẽ giúp bạn bổ sung Canxi đầy đủ.</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/organic-la-gi-vi-sao-nen-su-dung-thuc-pham-huu-co-n99125.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/organic-la-gi-vi-sao-nen-su-dung-thuc-pham-huu-co-n99125.html"
                                title="Organic là gì? Vì sao nên sử dụng thực phẩm hữu cơ?">
                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/art/20220325_y9miZldsT5wWcyD2guYmtDUn.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220325_y9miZldsT5wWcyD2guYmtDUn.jpg"
                                    alt="Organic là gì? Vì sao nên sử dụng thực phẩm hữu cơ?" sizes="293px">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>25-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/organic-la-gi-vi-sao-nen-su-dung-thuc-pham-huu-co-n99125.html"
                                class="card_news_title">Organic là gì? Vì sao nên sử dụng thực phẩm hữu cơ?</a>
                            <p class="card_news_text">Hiện nay, những cửa hàng bán thực phẩm organic mọc lên như nấm.
                                Vậy thực phẩm organic là gì? Và tại sao mọi người có xu hướng sử dụng thực phẩm này?</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/phan-biet-cac-loai-dau-an-hien-nay-de-dam-bao-suc-khoe-ca-nha-n99035.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/phan-biet-cac-loai-dau-an-hien-nay-de-dam-bao-suc-khoe-ca-nha-n99035.html"
                                title="Phân biệt các loại dầu ăn hiện nay để đảm bảo sức khỏe cả nhà">
                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/art/20220324_kr4uib8qXj5Ss3C6TuYzMgu1.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220324_kr4uib8qXj5Ss3C6TuYzMgu1.jpg"
                                    alt="Phân biệt các loại dầu ăn hiện nay để đảm bảo sức khỏe cả nhà" sizes="293px">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>25-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/phan-biet-cac-loai-dau-an-hien-nay-de-dam-bao-suc-khoe-ca-nha-n99035.html"
                                class="card_news_title">Phân biệt các loại dầu ăn hiện nay để đảm bảo sức khỏe cả
                                nhà</a>
                            <p class="card_news_text">Hiện nay trên thị trường có rất nhiều loại dầu ăn. Vậy bạn có biết
                                cách phân biệt và chọn cho gia đình mình loại dầu tốt cho sức khỏe chưa? Hãy cùng Bách
                                hóa XANH tìm hiểu cách hân biệt các loại dầu ăn ngay sau đây nhé!</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/9-loi-ich-suc-khoe-cua-nam-bom-su-tu-va-tac-dung-phu-n99041.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/9-loi-ich-suc-khoe-cua-nam-bom-su-tu-va-tac-dung-phu-n99041.html"
                                title="9 lợi ích sức khỏe của nấm bờm sư tử và tác dụng phụ">
                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/art/20220324_jALwLEU6V1HJvx6dniNXEc8y.png"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220324_jALwLEU6V1HJvx6dniNXEc8y.png"
                                    alt="9 lợi ích sức khỏe của nấm bờm sư tử và tác dụng phụ" sizes="293px">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>24-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/9-loi-ich-suc-khoe-cua-nam-bom-su-tu-va-tac-dung-phu-n99041.html"
                                class="card_news_title">9 lợi ích sức khỏe của nấm bờm sư tử và tác dụng phụ</a>
                            <p class="card_news_text">Nấm bờm sư tử (còn gọi là nấm hầu thủ hoặc yamabushitake) là loại
                                nấm lớn, có màu trắng và xù xì giống bờm sư tử. Có thể ăn sống, nấu chín, sấy khô hoặc
                                ngâm nấm hầu thủ như một loại trà. Chiết xuất của chúng được sử dụng cho các loại thực
                                phẩm chức năng. Nó có vị giống hải sản (cua hoặc tôm hùm) và chứa nhiều hoạt chất sinh
                                học có tác dụng tốt đối với cơ thể, đặc biệt là não, tim và ruột.</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/calo-va-chat-dinh-duong-de-cung-cap-nang-luong-cho-hoat-dong-the-thao-n99040.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/calo-va-chat-dinh-duong-de-cung-cap-nang-luong-cho-hoat-dong-the-thao-n99040.html"
                                title="Calo và chất dinh dưỡng để cung cấp năng lượng cho hoạt động thể thao">
                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/art/20220324_4dwxo6LS7yZCxB5hcm2tPyaG.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220324_4dwxo6LS7yZCxB5hcm2tPyaG.jpg"
                                    alt="Calo và chất dinh dưỡng để cung cấp năng lượng cho hoạt động thể thao"
                                    sizes="293px">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>24-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/calo-va-chat-dinh-duong-de-cung-cap-nang-luong-cho-hoat-dong-the-thao-n99040.html"
                                class="card_news_title">Calo và chất dinh dưỡng để cung cấp năng lượng cho hoạt động thể
                                thao</a>
                            <p class="card_news_text">Việc nạp calo và các chất dinh dưỡng đóng vai trò vô cùng quan
                                trọng đối với các hoạt động thể thao và sức khoẻ tổng thể của bạn. Điều này cũng giúp
                                bạn tăng cường hiệu suất tập luyện, đồng thời nâng cao sức đề kháng của mình trước bệnh
                                tật.</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/tac-dung-cua-cay-mach-nha-cho-suc-khoe-n99039.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/tac-dung-cua-cay-mach-nha-cho-suc-khoe-n99039.html"
                                title="Tác dụng của cây mạch nha cho sức khỏe">
                                <img data-sizes="auto" class="card-img-top lazyautosizes ls-is-cached lazyloaded"
                                    src="https://pos.nvncdn.com/16a837-71503/art/20220324_PFeTsPkTRac1a17C6PdzcErj.jpg"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220324_PFeTsPkTRac1a17C6PdzcErj.jpg"
                                    alt="Tác dụng của cây mạch nha cho sức khỏe" sizes="293px">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>24-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/tac-dung-cua-cay-mach-nha-cho-suc-khoe-n99039.html" class="card_news_title">Tác
                                dụng của cây mạch nha cho sức khỏe</a>
                            <p class="card_news_text">Mạch nha được sử dụng hàng ngày như một nguyên liệu chế biến thức
                                ăn và có thể được tìm thấy trong nhiều loại sản phẩm khác nhau, bao gồm giấm, bia, ngũ
                                cốc, v.v. Mặc dù nó đã được sử dụng theo truyền thống như một chất làm ngọt và tăng
                                hương vị, một số nghiên cứu đã phát hiện ra rằng việc hoán đổi đường để chiết xuất mạch
                                nha có thể bổ sung một lượng chất dinh dưỡng bổ sung vào chế độ ăn uống của bạn và có
                                thể liên quan đến một số lợi ích sức khỏe, bao gồm cả cải thiện tâm trạng, sức khỏe tim
                                mạch và tiêu hóa.</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/nhung-loai-thuc-pham-chong-beo-n99038.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/nhung-loai-thuc-pham-chong-beo-n99038.html"
                                title="Những loại thực phẩm chống béo">
                                <img data-sizes="auto" class="lazyload card-img-top"
                                    src="https://web.nvnstatic.net/img/loading.gif?v=3"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220324_tpex9V5GH3QvvnuIfbwT5aOy.jpg"
                                    alt="Những loại thực phẩm chống béo">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>24-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/nhung-loai-thuc-pham-chong-beo-n99038.html" class="card_news_title">Những loại
                                thực phẩm chống béo</a>
                            <p class="card_news_text">Chất béo là trở ngại trong quá trình kiểm soát cân nặng của mọi
                                người, đặc biệt là người ăn kiêng. Dưới đây là các loại thực phẩm ít béo, thực phẩm
                                chống béo, thực phẩm giảm béo chúng ta có thể chọn lựa trong bữa ăn hàng ngày.</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/cac-loai-ngu-coc-tot-cho-suc-khoe-nhung-dieu-can-biet-n99037.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/cac-loai-ngu-coc-tot-cho-suc-khoe-nhung-dieu-can-biet-n99037.html"
                                title="Các loại ngũ cốc tốt cho sức khỏe: Những điều cần biết">
                                <img data-sizes="auto" class="lazyload card-img-top"
                                    src="https://web.nvnstatic.net/img/loading.gif?v=3"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220324_vOrEvbrkid6BtETLiKzJ8I2E.jpg"
                                    alt="Các loại ngũ cốc tốt cho sức khỏe: Những điều cần biết">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>24-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/cac-loai-ngu-coc-tot-cho-suc-khoe-nhung-dieu-can-biet-n99037.html"
                                class="card_news_title">Các loại ngũ cốc tốt cho sức khỏe: Những điều cần biết</a>
                            <p class="card_news_text">Ngũ cốc là một loại thực phẩm ăn sáng cực kỳ phổ biến. Nó đặc biệt
                                thuận tiện cho những người có cuộc sống bận rộn. Tuy nhiên, một số loại ngũ cốc thường
                                được nạp thêm đường và các thành phần không lành mạnh. Vì vậy rất nhiều người băn khoăn
                                về việc lựa chọn loại ngũ cốc nào là tốt cho sức khỏe.</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/tiet-lo-che-do-an-thuc-duong-giam-can-hieu-qua-nhat-ban-nen-biet-n99009.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/tiet-lo-che-do-an-thuc-duong-giam-can-hieu-qua-nhat-ban-nen-biet-n99009.html"
                                title="Tiết lộ chế độ ăn thực dưỡng giảm cân hiệu quả nhất bạn nên biết">
                                <img data-sizes="auto" class="lazyload card-img-top"
                                    src="https://web.nvnstatic.net/img/loading.gif?v=3"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220323_cQ5VTlAbtvKWnsObA52djAoh.jpg"
                                    alt="Tiết lộ chế độ ăn thực dưỡng giảm cân hiệu quả nhất bạn nên biết">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>23-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/tiet-lo-che-do-an-thuc-duong-giam-can-hieu-qua-nhat-ban-nen-biet-n99009.html"
                                class="card_news_title">Tiết lộ chế độ ăn thực dưỡng giảm cân hiệu quả nhất bạn nên
                                biết</a>
                            <p class="card_news_text">Chế độ ăn thực dưỡng giảm cân là phương pháp ngày càng được nhiều
                                người áp dụng. Vậy thực hư về tác dụng của chế độ ăn này ra sao và áp dụng như thế nào
                                để mang lại hiệu quả tốt nhất? Nếu bạn đang thắc mắc về vấn đề này thì theo dõi ngay
                                những thông tin dưới đây để có câu trả lời nhé!</p>
                        </div>
                    </div>
                    <div class="card_news col-lg-4 col-md-6"
                        onclick="window.location.href='/nhung-loi-ich-tu-khoai-lang-ban-can-biet-n99008.html';"
                        style="margin-bottom: 30px">
                        <div class="card_news_img">
                            <a href="/nhung-loi-ich-tu-khoai-lang-ban-can-biet-n99008.html"
                                title="NHỮNG LỢI ÍCH TỪ KHOAI LANG BẠN CẦN BIẾT">
                                <img data-sizes="auto" class="lazyload card-img-top"
                                    src="https://web.nvnstatic.net/img/loading.gif?v=3"
                                    data-src="https://pos.nvncdn.com/16a837-71503/art/20220323_a8sM3aa7tQoLvkZ7SmFgPgap.jpg"
                                    alt="NHỮNG LỢI ÍCH TỪ KHOAI LANG BẠN CẦN BIẾT">
                            </a>
                            <div class="card_news_date text-center">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <b>23-03-2022</b> &nbsp;Đăng bởi
                                <b>Admin</b>
                            </div>
                        </div>
                        <div class="card_news_body text-center">
                            <a href="/nhung-loi-ich-tu-khoai-lang-ban-can-biet-n99008.html"
                                class="card_news_title">NHỮNG LỢI ÍCH TỪ KHOAI LANG BẠN CẦN BIẾT</a>
                            <p class="card_news_text">Khoai lang là loại thức ăn dân dã đã có từ lâu đời tại các nước
                                châu Á. Tuy giá thành của loại thực phẩm này không đắt nhưng nó lại mang đến những giá
                                trị dinh dưỡng tuyệt vời. Hãy cùng Farmers Market tìm hiểu xem vì sao khoai lang lại
                                “thần kỳ” đến thế nhé!</p>
                        </div>
                    </div>
                    <div id="pagination" class="pagination">
                        <ul class="pagination">
                            <li class="active"><a>1</a></li>
                            <li><a href="/tin-tuc-nc103891.html?page=2">2</a></li>
                            <li class="round"><a href="/tin-tuc-nc103891.html?page=2">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <footer class="tp_footer">
                <div class="new-letter">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="letter-left heading">
                                    <h3>Đăng kí nhận tin khuyến mãi</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input id="contactFormEmail" type="email" name="contact[email]"
                                        class="form-control em" placeholder="Nhập email của bạn" required="">
                                    <div class="input-group-append">
                                        <button class="btn_dk tp_button">Đăng Ký</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer_">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 widget_first_childs">
                                <div class="logo_footer">
                                    <a href="/">
                                        <img width="165"
                                            src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png"
                                            alt="Logo">
                                    </a>
                                </div>
                                <div class="contact_footer">
                                    <ul>
                                        <li>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            <span>30 Phạm Văn Đồng Cầu Giấy, Hà Nội</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-mobile" aria-hidden="true"></i>
                                            <span>1900.2812</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <span>abctheme205@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8 clearfix widget-ft">
                                <div class="col-md-4 footer-right_first float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Cẩm nang sử dụng</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample1" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Chính sách</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample1">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 float-left">
                                    <h4 class="ft_title" data-toggle="collapse" href="#collapseExample2" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        <span>Dịch vụ</span>
                                        <span class="pull-right r_col"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </h4>
                                    <div class="collapse" id="collapseExample2">

                                        <ul>
                                            <li><a href="#">Trang chủ</a></li>
                                            <li><a href="#">Giới thiệu</a></li>
                                            <li><a href="#">Sản phẩm</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright text-center ft2">
                    <span data-runtime="Memory: 3.99 mb - Time: 0.45 s" id="runtime" style="display: block"> Thiết kế
                        web bởi <img src="https://web.nvnstatic.net/images/favicon.ico?v=3"
                            alt="Thiết kế web bởi NHANH.VN">
                        <a style="margin-top:5px;display:inline-block;font-size: 13px;" class="logo"
                            href="https://nhanh.vn" target="_blank"><b> Nhanh.vn </b></a>
                    </span>
                </div>

            </footer>


            <a class="email-icon" href="mailto:abctheme205@gmail.com">
                <i class="fa fa-envelope"></i>
            </a>
            <a href="javascript:" id="back_to_Top"><i class="fas fa-arrow-up"></i></a>


        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickview" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="modalQuickbuy" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div><input type="hidden" class="fanpageId" value=""><input type="hidden" id="bussinessId" value="71503"><input
        type="hidden"
        value="bfCypEgZjrVX8F6AleoMwf8arTLJhEJSLcBMwYJOLGqbSnrl6e50V54vQuDBttPa9NOPaPUg14RYfE1HTsFbq8ed9REa1hDft84kJlrBaEonqWDSGj250iGRcZFcRnNbPhQ5ydDBfCS7FElsbknmpffG7vIs629mqgxaBMC"
        id="uctk" name="uctk"><input type="hidden" id="clienIp" value="118.71.204.98"><!-- Modal Quickview-->


    <!-- Modal Quickbuy-->



    <div id="mm-blocker" class="mm-slideout"></div>
</body><chatgpt-sidebar data-gpts-theme="light"></chatgpt-sidebar><!--Begining of TestComplete File-->
<script src="chrome-extension://94d4a8dd-9161-475d-9cf6-64c4072447e5/common/iocm.js"
    istestcompletehiddennode="1"></script><!--Ending of TestComplete File--><chatgpt-sidebar-popups
    data-gpts-theme="light"></chatgpt-sidebar-popups>

</html>