<div class="new-letter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="letter-left heading">
                        <h3>Đăng kí nhận tin khuyến mãi</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input id="contactFormEmail" type="email" name="contact[email]" class="form-control em" placeholder="Nhập email của bạn" required="">
                        <div class="input-group-append">
                            <button class="btn_dk tp_button">Đăng Ký</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_">
        <div class="container">
            <div class="row">
                <div class="col-md-4 widget_first_childs">
                                        <div class="logo_footer">
                        <a href="/">
                            <img width="165" src="https://pos.nvncdn.com/16a837-71503/store/20200325_7rMt2KlqTHJrITcloxlSka0u.png" alt="Logo">
                        </a>
                    </div>
                                        <div class="contact_footer">
                                                    <ul>
                                                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>30 Phạm Văn Đồng Cầu Giấy, Hà Nội</span>
                                    </li>
                                                                    <li>
                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                        <span>1900.2812</span>
                                    </li>
                                                                                                                                    <li>
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        <span>dinhtruong191003@gmail.com</span>
                                    </li>
                                                                                            </ul>
                                            </div>
                </div>
                <div class="col-md-8 clearfix widget-ft">
                    <div class="col-md-4 footer-right_first float-left">
                        <h4 class="ft_title" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span>Cẩm nang sử dụng</span>
                            <span class="pull-right r_col"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </h4>
                        <div class="collapse" id="collapseExample">
                            
                        <ul>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Sản phẩm</a></li>
                           
                        </ul>                        </div>
                    </div>
                    <div class="col-md-4 float-left">
                        <h4 class="ft_title" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span>Chính sách</span>
                            <span class="pull-right r_col"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </h4>
                        <div class="collapse" id="collapseExample1">
                            
                        <ul>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Sản phẩm</a></li>
                        </ul>                        </div>
                    </div>
                    <div class="col-md-4 float-left">
                        <h4 class="ft_title" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span>Dịch vụ</span>
                            <span class="pull-right r_col"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </h4>
                        <div class="collapse" id="collapseExample2">
                                                            
                        <ul>
                            <li><a href="#">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Sản phẩm</a></li>
                        </ul>                                                    </div>
                                            </div>
                                    </div>
            </div>
        </div>
    </div>
   
 <a class="email-icon" href="mailto:abctheme205@gmail.com">
        <i class="fa fa-envelope"></i>
    </a>
<a href="javascript:" id="back_to_Top"><i class="fas fa-arrow-up"></i></a>


</div><div class="modal fade bd-example-modal-lg" id="modalQuickview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div><div class="modal fade bd-example-modal-lg" id="modalQuickbuy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div></div><input type="hidden" class="fanpageId" value=""><input type="hidden" id="bussinessId" value="71503"><input type="hidden" value="bfCypEgZjrVX8F6AleoMwf8arTLJhEJSLcBMwYJOLGqbSnrl6e50V54vQuDBttPa9NOPaPUg14RYfE1HTsFbq8ed9REa1hDft84kJlrBaEonqWDSGj250iGRcZFcRnNbPhQ5ydDBfCS7FElsbknmpffG7vIs629mqgxaBMC" id="uctk" name="uctk"><input type="hidden" id="clienIp" value="118.71.204.98"><!-- Modal Quickview-->