html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.back-to-list {
  color: #007bff;  /* Màu chữ */
  text-decoration: none;  /* Bỏ gạch dưới */
  font-size: 16px;  /* Kích thước chữ */
  padding: 8px 16px;  /* Khoảng cách xung quanh chữ */
  background-color: #f0f0f0;  /* Màu nền */
  border-radius: 4px;  /* Bo góc */
  transition: background-color 0.3s ease, color 0.3s ease;  /* Hiệu ứng chuyển màu */
}

.back-to-list:hover {
  background-color: #007bff;  /* Màu nền khi hover */
  color: white;  /* Màu chữ khi hover */
}